@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{

    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
}
h1, h2, h3, h6 {
    color: #0c2f54;
    font-size: 1.25rem !important;
    line-height: 1.1;
    font-weight: 600 !important;
    padding: 0;
    margin: 0;
}
h5{
    color: #0c2f54;
    line-height: 0.4;
}
h4{
    color: #0899da;
    font-size: calc(1.2rem + .1vw);
    line-height: 1.1;
}
p{
    color:#ffff;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}
/* vendor styles */
.outter{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    flex:1;
    height: 15rem;
    padding: 5rem;
    border-radius: 12px;
    margin: 1rem;
    background-image:linear-gradient(to right, rgba(8, 153, 218, 0.8) 30%, transparent 80%), url("../public/Assets/vendorProduct/hero.jpg");
}

/* vendors style ends here */




.btn-primary {
  background-color: #0071cc;
  border-color: #0071cc;
}

.loanSteps{
    background-image: linear-gradient(to right, rgba(8, 153, 218, 0.73) 30%, transparent 80%),url("../public/Assets/H3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: center;
    background-attachment: fixed;
    background-position: center;
}

.kycSteps{
    background-image: linear-gradient(to right, rgba(106, 183, 219, 0.73) 30%, transparent 80%),url("../public/Assets/kycBg.jpg");
    /* background-image: linear-gradient(to right, rgba(8, 153, 218, 0.73) 30%, transparent 80%),url("../public/Assets/kycBg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: center;
    background-attachment: fixed;
    background-position: center;
}

.banner{
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll, scroll;
    background-image:linear-gradient(to right, rgba(8, 153, 218, 0.8) 30%, transparent 80%),  url("../public/Assets/H2.webp");
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16.8125rem;
    transition: none 0s ease 0s;
    width: 100%;
}

/*Ecommerce Styles starts Here*/
section{
    overflow: hidden;
    width:100%
  }
.timer__count{
    background-color: #0899DA4C;
    height:230px
}
.common__Banner{
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll, scroll;
    background-image:linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.562)),url("../public/Assets/vendorProduct/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    transition: none 0s ease 0s;
    width: 100%;
    overflow: hidden;
    text-align: center;
}